body{
    background-color: #282c34;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition:
    color 1.5s,
    background-color 0.9s;
}

rect {
  transition: fill 1.8s, stroke 1.5s;
}

text {
  user-select: none;
}

.botones {
  margin: 20px;
}